# Ignore files for Google Cloud deployment

.gcloudignore
.git
.gitignore
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.example
rebuild.sh
*.md
test/
# .eslintrc* - KEEP FOR BUILD PROCESS
.prettierrc*
.github/
.vscode/
.idea/
*.log
.DS_Store
src/server/db/*.db
vercel.json
DEPLOYMENT.md
LICENSE
screenshot.png
